@charset "UTF-8";

html {
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

main {
    display: block;
}

b,
strong {
    font-weight: 600;
}

*,
:after,
:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-style: none;
}

img[width="0"][height="0"] {
    display: none;
}

a {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

a:hover,
a:focus {
    text-decoration: none;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    overflow: auto;
}

textarea::-webkit-scrollbar {
    width: 0;
}

::-ms-clear {
    display: none;
}

input {
    overflow: visible;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2rem;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}

li {
    margin-left: 20rem;
}

li:not(:last-child) {
    margin-bottom: 12rem;
}

@media (max-width: 480px) {
    li:not(:last-child) {
        margin-bottom: 6rem;
    }
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

label {
    margin: 0;
}

input,
button,
select {
    border: none;
    outline: none;
}

input {
    border-radius: 0;
}

*:focus {
    outline: none;
}

.no-scrolling {
	overflow: hidden;
}

.link {
    color: #1066F6;
	text-decoration: underline;
}

.link:hover {
	text-decoration: none;
}

.invert-link {
	text-decoration: none;
}

.invert-link:hover {
	text-decoration: underline;
}

/*styles config 
for example:
adaptive full-hd 1rem = calc(100vw / 1920)
adaptive 768px 1rem = calc(100vw / 768)
static 1rem = 1px
*/
html,
body {
    font-size: 1px;
    height: 100%;
}
/*end styles config*/

/*SCROLL ---------------------- */
.simplebar-track.simplebar-vertical {
    width: 6rem;
    right: -20rem;
}

.simplebar-track.simplebar-vertical::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 6rem;
    height: 100%;
    background: #fff;
    border-radius: 20rem;
    z-index: 0;
}

.simplebar-scrollbar {
    transition: all .1s linear;
    z-index: 1;
}

.simplebar-scrollbar::before {
    top: 0 !important;
    left: -10rem;
    right: -10rem;
    bottom: 0 !important;
    width: 6rem;
    margin: auto;
    background: #1066F6;
    border: 0;
    border-radius: 20rem;
    opacity: 0;
    transition: all .2s linear;
}

.simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
}

@media (max-width: 480px) {
    .simplebar-track.simplebar-vertical {
        right: -12rem;
    }
}
/**/

/* browser scroll width */
::-webkit-scrollbar {
    width: 6rem;
    height: 4rem;
}

/* browser scroll track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* browser scroll handle */
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3rem;
}

body .mobile-visible,
body .adaptive-visible {
    display: none;
}

@media (max-width: 1024px) {
    body .adaptive-visible {
        display: block;
    }
}

@media (max-width: 480px) {
    body .mobile-visible {
        display: block;
    }

    body .desktop-adaptive-visible,
    body .desktop-mobile-visible {
        display: none;
    }
}

/*main styles*/
body {
    margin: 0;
    color: #040201;
    font: normal 16rem/normal 'Roboto Condensed', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    overflow: hidden;
}

.container {
    position: relative;
    max-width: 1350rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 20rem;
}

.header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 92rem;
    margin: auto;
    background: #fff;
    z-index: 10;
}

.header-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1350rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 20rem;
    z-index: 11;
}

.logo {
    position: relative;
    display: block;
    max-width: 150rem;
    width: 100%;
    line-height: 0;
    z-index: 11;
}

.header-buttons {
    position: relative;
    display: flex;
    margin-left: auto;
    gap: 0 10rem;
    z-index: 11;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: auto;
    padding: 14rem 20rem;
    background: #D24A43;
    border-radius: 5rem;
    font-family: Oswald;
    font-weight: 600;
    font-size: 16rem;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    transition: all .2s linear;
}

.btn:hover {
    opacity: 0.8;
}

.menu {
    position: relative;
    display: block;
    width: 30rem;
    height: 30rem;
    margin-left: 20rem;
    background-color: transparent;
    font-size: 0;
    text-indent: -999rem;
    z-index: 11;
}

.menu span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 2rem;
    background: #424242;
    border-radius: 4rem;
    transition: background 0s .3s;
}

.menu::before,
.menu::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 2rem;
    background: #424242;
    border-radius: 4rem;
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.menu::before {
    top: -100%;
    transition-property: top, transform;
}

.menu::after {
    bottom: -100%;
    transition-property: bottom, transform;
}

.menu.active::before {
    top: 0;
    transform: rotate(45deg);
}

.menu.active::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.menu.active::before,
.menu.active::after {
    transition-delay: 0s, 0.3s;
}

.menu.active span {
    background: none !important;
}

.menu-links-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    padding: 58rem 20rem 20rem;
    background: #2A547E;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all .2s linear;
}

.header.active .menu-links-wrapper {
    opacity: 1;
    pointer-events: all;
}

.menu-links {
    display: flex;
}

.menu-links-wrapper .menu-links {
    flex-direction: column;
    align-items: center;
    margin-top: 40rem;
}

.menu-links-wrapper .menu-link {
    position: relative;
    width: fit-content;
    margin: 10rem 0;
    font-weight: 600;
    font-size: 24rem;
    line-height: 1;
    text-align: center;
    color: #252525;
}

.menu-link::before,
.menu-link::after {
    content: '';
    position: absolute;
    bottom: -4rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    height: 2rem;
    background: #1066F6;
    transition: all .3s linear;
}

.menu-link.active::before,
.menu-link.active::after,
.menu-links-wrapper .menu-link::before,
.menu-links-wrapper .menu-link::after {
    background: #252525;
}

.menu-link.active:hover::before,
.menu-link.active:hover::after {
    background: #1066F6;
}

.menu-link::before {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.menu-link::after {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.menu-link:hover::before,
.menu-link.active::before {
    left: -50%;
    width: 50%;
}

.menu-link:hover::after,
.menu-link.active::after {
    right: -50%;
    width: 50%;
}

.menu-links.desktop-mobile-visible {
    margin-left: auto;
}

.menu-links.desktop-mobile-visible .menu-link {
    position: relative;
    margin: 0 16rem;
    font-weight: 600;
    font-size: 18rem;
    line-height: normal;
    color: #252525;
}

.menu-links.desktop-mobile-visible .menu-link:hover {
    color: #1066F6;
}

.menu-links.desktop-mobile-visible + .header-buttons {
    margin-left: 0;
}

.dop-menu-phone {
    position: relative;
    padding-left: 44rem;
    font-size: 24rem;
}

.dop-menu-phone::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 28rem;
    height: 28rem;
    background: url(../img/icons/phone.svg) center/contain no-repeat;
    opacity: 0.5;
}

.footer {
    position: relative;
}

.footer-container {
    max-width: 1350rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 20rem;
}

.footer-menus {
    display: flex;
    justify-content: space-between;
    padding-top: 80rem;
    padding-bottom: 80rem;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    max-width: 413rem;
    width: 100%;
}

.footer-menu:not(:last-child) {
    margin-bottom: 40rem;
}

.footer-menu *:not(:last-child) {
    margin-bottom: 10rem;
}

.footer-menu-title {
    font-weight: 600;
    font-size: 24rem;
}

.footer-menu-link {
    font-size: 18rem;
}

.footer-menu-link:hover {
    color: #1066F6;
}

.footer-menu-phone {
    position: relative;
    padding-left: 52rem;
    font-size: 36rem;
}

.footer-menu-phone:hover {
    color: #1066F6;
}

.footer-menu-phone::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 32rem;
    height: 32rem;
    background: url(../img/icons/phone.svg) center/contain no-repeat;
    filter: grayscale(1);
    opacity: .33;
    transition: all .3s ease;
}

.footer-menu-phone:hover::before {
    filter: grayscale(0);
    opacity: 1;
}

.footer-menu-socs {
    display: flex;
    flex-wrap: wrap;
}

.footer-menu-soc {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36rem;
    height: 36rem;
    margin-top: 10rem;
    filter: grayscale(1);
    opacity: .33;
}

.footer-menu-soc:not(:last-child) {
    margin-right: 24rem;
}

.footer-menu-soc:hover {
    filter: grayscale(0);
    opacity: 1;
}

.footer-copyrights {
    padding-top: 40rem;
    padding-bottom: 40rem;
}

.footer-copyright {
    font-size: 16rem;
    line-height: normal;
    color: rgba(59, 59, 59, 0.50);
}

.footer-copyright-text:not(:last-child) {
    margin-bottom: 12rem;
}

.digital-muse {
    font-weight: 800;
}

.digital-muse:hover {
    color: #1066F6;
}

h1,
.h1 {
    font-weight: 600;
    font-size: 72rem;
    line-height: normal;
}

h2,
.h2 {
    font-weight: 600;
    font-size: 64rem;
    line-height: normal;
}

h3,
.h3 {
    font-weight: 600;
    font-size: 48rem;
    line-height: normal;
}

h4,
.h4 {
    font-weight: 600;
    font-size: 36rem;
    line-height: normal;
}

.page-subtitle {
    font-size: 30rem;
    line-height: 150%;
}

.page-title + .page-subtitle {
    margin-top: 24rem;
}

.page-text {
    margin-top: 10rem;
    font-size: 24rem;
    line-height: 150%;
}

.page-text + .page-text {
    margin-top: 20rem;
}

.page-text-small {
    font-size: 20rem;
}

.section {
    position: relative;
    padding: 120rem 0;
}

.header + .section {
    margin-top: 90rem;
}

/*end main styles*/

/*adaptive styles*/
@media (max-width: 1440px) {
    html {
        font-size: calc(100vw / 1440);
    }
}
/*end adaptive styles*/

/*mobile styles*/
@media (max-width: 480px) {
    html {
        font-size: calc(100vw / 480);
    }

    .header {
        height: 58rem;
    }

    .header-container,
    .container,
    .footer-container {
        padding: 0 20rem;
    }

    .logo {
        max-width: 56rem;
    }

    .blind-link {
        width: 125rem;
        margin-left: 20rem;
        margin-right: auto;
    }

    .header-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 40rem auto 0;
    }

    .btn {
        padding: 16rem 32rem;
        font-size: 16rem;
    }

    .btn-nav {
        padding-right: 52rem;
    }

    .header-buttons .btn, 
    .header-buttons .inv-btn {
        width: fit-content;
        margin: auto;
        font-size: 18rem;
    }

    .footer-menus {
        flex-direction: column;
        padding-top: 60rem;
        padding-bottom: 40rem;
    }

    .footer-menu-col:not(:last-child) {
        margin-bottom: 30rem;
    }

    .footer-menu-phone {
        padding-left: 44rem;
        font-size: 24rem;
    }

    .footer-menu-phone::before {
        width: 24rem;
        height: 24rem;
    }

    .footer-menu-soc {
        width: 28rem;
        height: 28rem;
    }

    .footer-menu-soc:not(:last-child) {
        margin-right: 16rem;
    }

    .footer-copyrights {
        padding-top: 20rem;
        padding-bottom: 20rem;
    }

    .footer-copyright {
        font-size: 12rem;
    }

    .footer-copyright-text:not(:last-child) {
        margin-bottom: 6rem;
    }

    .footer-separate {
        /* width: calc(100% - 40rem); */
        margin: 0 auto;
    }

    h1,
    .h1 {
        font-size: 32rem;
    }
    
    h2,
    .h2 {
        font-size: 32rem;
    }

    h3,
    .h3 {
        font-size: 24rem;
    }

    h4,
    .h4 {
        font-size: 20rem;
    }

    .page-subtitle {
        font-size: 18rem;
        line-height: 130%;
    }

    .page-title + .page-subtitle {
        margin-top: 10rem;
    }

    .page-text {
        margin-top: 20rem;
        font-size: 16rem;
    }

    .page-text-small {
        margin-top: 10rem;
        font-size: 16rem;
    }

    .header + .section {
        margin-top: 58rem;
    }

    .section {
        padding: 60rem 0;
    }

    .section-big-padding {
        padding: 60rem 0;
    }

    .section-not-padding {
        padding: 0;
    }

    .section-not-padding-top {
        padding-top: 0;
    }
    
    .section-not-padding-bottom {
        padding-bottom: 0;
    }
}

@media (max-width: 390px) {
    html {
        font-size: calc(100vw / 390);
    }

    .menu-links-wrapper .menu-links {
        margin-top: 20rem;
    }

    .header-buttons {
        margin-top: 20rem;
    }

    .dop-menu-wrapper {
        margin-top: 20rem;
    }

    .footer-menu:not(:last-child) {
        margin-bottom: 30rem;
    }

    .footer-menu-link {
        font-size: 16rem;
    }
}
/*end mobile styles*/