@charset "UTF-8";

html {
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

main {
    display: block;
}

b,
strong {
    font-weight: 600;
}

*,
:after,
:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-style: none;
}

img[width="0"][height="0"] {
    display: none;
}

a {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

a:hover,
a:focus {
    text-decoration: none;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    overflow: auto;
}

textarea::-webkit-scrollbar {
    width: 0;
}

::-ms-clear {
    display: none;
}

input {
    overflow: visible;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2rem;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}

li {
    margin-left: 20rem;
}

li:not(:last-child) {
    margin-bottom: 12rem;
}

@media (max-width: 480px) {
    li:not(:last-child) {
        margin-bottom: 6rem;
    }
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

label {
    margin: 0;
}

input,
button,
select {
    border: none;
    outline: none;
}

input {
    border-radius: 0;
}

*:focus {
    outline: none;
}

.no-scrolling {
	overflow: hidden;
}

.link {
    color: #D24A43;
	text-decoration: underline;
}

.link:hover {
	text-decoration: none;
}

.invert-link {
	text-decoration: none;
}

.invert-link:hover {
	text-decoration: underline;
}

/*styles config 
for example:
adaptive full-hd 1rem = calc(100vw / 1920)
adaptive 768px 1rem = calc(100vw / 768)
static 1rem = 1px
*/
html,
body {
    font-size: 1px;
    height: 100%;
}
/*end styles config*/

/*SCROLL ---------------------- */
.simplebar-track.simplebar-vertical {
    width: 6rem;
    right: -20rem;
}

.simplebar-track.simplebar-vertical::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 6rem;
    height: 100%;
    background: #fff;
    border-radius: 20rem;
    z-index: 0;
}

.simplebar-scrollbar {
    transition: all .1s linear;
    z-index: 1;
}

.simplebar-scrollbar::before {
    top: 0 !important;
    left: -10rem;
    right: -10rem;
    bottom: 0 !important;
    width: 6rem;
    margin: auto;
    background: #D24A43;
    border: 0;
    border-radius: 20rem;
    opacity: 0;
    transition: all .2s linear;
}

.simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
}

@media (max-width: 480px) {
    .simplebar-track.simplebar-vertical {
        right: -12rem;
    }
}
/**/

/* browser scroll width */
::-webkit-scrollbar {
    width: 10rem;
    height: 4rem;
}

/* browser scroll track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* browser scroll handle */
::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 3rem;
}

body .mobile-visible,
body .adaptive-visible {
    display: none;
}

@media (max-width: 1024px) {
    body .adaptive-visible {
        display: block;
    }
}

@media (max-width: 480px) {
    body .mobile-visible {
        display: block;
    }

    body .desktop-adaptive-visible,
    body .desktop-mobile-visible {
        display: none;
    }
}

/*main styles*/
body {
    margin: 0;
    color: #040201;
    font: normal 16rem/normal 'Roboto Condensed', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    overflow: hidden;
}

.container {
    position: relative;
    max-width: 1350rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 20rem;
}

.header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 92rem;
    margin: auto;
    background: #fff;
    z-index: 10;
}

.header-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1350rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 20rem;
    z-index: 11;
}

.logo {
    position: relative;
    display: block;
    max-width: 150rem;
    width: 100%;
    line-height: 0;
    z-index: 11;
}

.header-buttons {
    position: relative;
    display: flex;
    margin-left: auto;
    gap: 0 10rem;
    z-index: 11;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: auto;
    padding: 14rem 20rem;
    background: #D24A43;
    border-radius: 5rem;
    font-family: Oswald;
    font-weight: 600;
    font-size: 16rem;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease;
}

.btn:hover {
    opacity: 0.8;
}

.btn-big {
    font-size: 20rem;
}

.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70rem;
    height: 70rem;
    margin-left: 16rem;
    border-left: 1rem solid #DADADA;
}

.menu-button.active {
    background: #2A547E;
}

.menu {
    position: relative;
    display: block;
    width: 25rem;
    height: 20rem;
    background-color: transparent;
    font-size: 0;
    text-indent: -999rem;
    z-index: 11;
}

.menu span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 2rem;
    background: #424242;
    transition: background 0s .3s;
}

.menu::before,
.menu::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 2rem;
    background: #424242;
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.menu::before {
    top: -100%;
    transition-property: top, transform;
}

.menu::after {
    bottom: -100%;
    transition-property: bottom, transform;
}

.menu.active::before {
    top: 0;
    transform: rotate(45deg);
}

.menu.active::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.menu.active::before,
.menu.active::after {
    background: #fff;
    transition-delay: 0s, 0.3s;
}

.menu.active span {
    background: none !important;
}

.menu-links-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    gap: 20rem;
    top: 70rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    padding: 50rem 20rem 50rem;
    background: #2A547E;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}

.header.active .menu-links-wrapper {
    opacity: 1;
    pointer-events: all;
}

.menu-links {
    display: flex;
    gap: 0 50rem;
}

.menu-links-wrapper .menu-links {
    flex-direction: column;
    align-items: center;
    margin-top: 40rem;
}

.menu-links-wrapper .menu-link {
    position: relative;
    width: fit-content;
    margin: 10rem 0;
    font-weight: 600;
    font-size: 24rem;
    line-height: 1;
    text-align: center;
    color: #fff;
}

.menu-links.desktop-mobile-visible {
    margin-left: auto;
}

.menu-links.desktop-mobile-visible .menu-link {
    position: relative;
    font-weight: 700;
    font-size: 18rem;
    line-height: normal;
    text-transform: uppercase;
    color: #040201;
}

.menu-links.desktop-mobile-visible .menu-link:hover {
    color: #D24A43;
}

.menu-links.desktop-mobile-visible + .header-buttons {
    margin-left: 0;
}

.menu-links.desktop-mobile-visible .catalog-link {
    padding-left: 30rem;
    color: #D24A43;
}

.menu-links.desktop-mobile-visible .catalog-link:hover {
    color: #040201;
}

.menu-links.desktop-mobile-visible .catalog-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
    height: 20rem;
    background: url(../img/icons/menu-red.svg) center/contain no-repeat;
}

.have-submenu {
    position: relative;
}

.have-submenu::after {
    content: '';
    position: absolute;
    top: 0;
    right: -15rem;
    bottom: 0;
    margin: auto;
    width: 12rem;
    height: 7rem;
    background: url(../img/icons/arrow-down-red.svg) center/contain no-repeat;
    transition: all .3s ease;
}

.have-submenu:hover::after {
    transform: rotate(-180deg);
}

.submenu-links {
    position: absolute;
    top: 20rem;
    display: flex;
    flex-direction: column;
    width: 200rem;
    height: auto;
    padding: 10rem;
    background: #fff;
    box-shadow: 0rem 4rem 10rem 0rem rgb(0 0 0 / 10%);
    border-radius: 5rem;
    transition: opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

.submenu-links.active {
    transition: opacity 0.3s ease;
    opacity: 1;
    visibility: visible;
}

.submenu-link {
    width: 100%;
    padding: 6rem 10rem;
    font-size: 14rem;
    line-height: normal;
    color: #040201;
}

.submenu-link:hover {
    color: #D24A43;
}

.dop-menu-phone {
    position: relative;
    margin-left: 50rem;
    font-weight: 600;
    font-size: 20rem;
    line-height: normal;
}

.dop-menu-phone:hover {
    color: #D24A43;
}

.footer {
    position: relative;
    background: #F5F5F5;
}

.footer-container {
    max-width: 1350rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 20rem;
}

.footer-logo {
    position: relative;
    display: block;
    max-width: 250rem;
    width: 100%;
    line-height: 0;
}

.footer-menus {
    display: flex;
    justify-content: space-between;
    padding-top: 70rem;
    padding-bottom: 70rem;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    max-width: 400rem;
    width: 100%;
    margin-top: 17rem;
}

.footer-menu:not(:last-child) {
    margin-bottom: 40rem;
}

.footer-menu *:not(:last-child, .footer-menu-title) {
    margin-bottom: 10rem;
}

.footer-menu-title {
    margin-bottom: 16rem;
    font-size: 20rem;
}

.footer-menu-link {
    font-size: 16rem;
    line-height: 1.5;
}

.footer-menu a:hover {
    color: #D24A43;
}

.footer-goals {
    display: flex;
    flex-direction: column;
    margin-top: 30rem;
    gap: 14rem 0;
}

.footer-goal {
    position: relative;
    padding-left: 30rem;
    font-size: 20rem;
    line-height: 1.5;
}

.footer-goal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 20rem;
    height: 20rem;
    background: url(../img/icons/check-circle-broken.svg) center/contain no-repeat;
}

.footer-copyrights {
    padding: 20rem 30rem;
    background: #2A547E;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16rem;
    line-height: normal;
    color: #fff;
}

.digital-muse {
    color: #3EB5F1;
    text-decoration: underline;
}

.digital-muse:hover {
    text-decoration: none;
}

h1,
.h1 {
    font-weight: 700;
    font-size: 48rem;
    line-height: normal;
}

h2,
.h2 {
    font-weight: 700;
    font-size: 40rem;
    line-height: normal;
}

h3,
.h3 {
    font-weight: 700;
    font-size: 32rem;
    line-height: normal;
}

h4,
.h4 {
    font-weight: 600;
    font-size: 24rem;
    line-height: normal;
}

h5,
.h5 {
    font-weight: 600;
    font-size: 20rem;
    line-height: normal;
}

.page-subtitle {
    font-size: 24rem;
    line-height: 1.5;
}

.page-title + .page-subtitle {
    margin-top: 10rem;
}

.page-text {
    margin-top: 10rem;
    font-size: 20rem;
    line-height: 1.5;
}

.page-text + .page-text {
    margin-top: 10rem;
}

.page-text-small {
    font-size: 16rem;
}

.section {
    position: relative;
    padding: 70rem 0;
}

.header + .section {
    margin-top: 92rem;
}

.red-text {
    color: #D24A43;
}

.gray-bg {
    background: #F5F5F5;
}

.section-mainpage {
    padding: 110rem 0 60rem;
}

.mainpage-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100rem;
}

.mainpage-info {
    max-width: 912rem;
    width: 100%;
}

.mainpage-title {
    font-family: Oswald;
    font-weight: 700;
    font-size: 70rem;
    line-height: 1.2;
    text-transform: uppercase;
}

.mainpage-img {
    position: absolute;
    top: -54rem;
    right: 0;
    width: 443rem;
    height: 443rem;
}

.goals {
    display: flex;
    justify-content: space-between;
    gap: 20rem 70rem;
}

.goal-title {
    position: relative;
    margin-bottom: 12rem;
    padding-left: 40rem;
    font-family: Oswald;
    font-weight: 600;
    font-size: 20rem;
    line-height: 1.3;
    text-transform: uppercase;
}

.goal-title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 30rem;
    height: 30rem;
    background: url(../img/icons/check-circle-broken.svg) center/contain no-repeat;
}

.goal-text {
    width: max-content;
    font-size: 20rem;
    line-height: 1.5;
}

.mainpage-catalog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30rem;
    gap: 30rem 50rem;
}

.mainpage-catalog-category {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 10rem;
    overflow: hidden;
}

.mainpage-catalog-category-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200rem;
    height: 200rem;
    background: linear-gradient(180.00deg, rgba(218, 218, 218, 0.78), rgb(199, 199, 199) 100%);
}

.mainpage-catalog-category-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 10rem;
    object-fit: contain;
    transition: all .3s ease;
}

.mainpage-catalog-category-img:hover img {
    transform: scale(1.05);
}

.mainpage-catalog-category-info {
    width: calc(100% - 190rem);
    padding: 30rem 20rem;
}

.mainpage-catalog-category-title {
    font-weight: 600;
    font-size: 24rem;
    line-height: 1;
}

a.mainpage-catalog-category-title:hover {
    color: #D24A43;
}

.mainpage-catalog-category-params {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20rem;
    gap: 5rem;
}

.mainpage-catalog-category-param {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 10rem;
    border: 1rem solid #D24A43;
    border-radius: 5rem;
    font-size: 16rem;
    line-height: 1;
}

a.mainpage-catalog-category-param:hover {
    background: #D24A43;
    color: #fff;
}

.galery {
    display: flex;
    margin-top: 30rem;
    gap: 30rem;
}

.galery-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320rem;
    min-width: 305rem;
    height: 400rem;
    border-radius: 5rem;
    overflow: hidden;
}

.galery-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease;
}

.galery-img:hover img {
    transform: scale(1.05);
}

.galery-img-more::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgb(19 26 40 / 70%);
    transition: all .3s ease;
}

.galery-img-more-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: fit-content;
    height: auto;
    font-weight: 600;
    font-size: 24rem;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 20rem;
    border: 2rem solid #fff;
    border-radius: 5rem;
    z-index: 1;
    transition: all .3s ease;
}

.steps {
    display: flex;
    margin-top: 30rem;
    gap: 30rem;
}

.step {
    width: 305rem;
    padding: 20rem;
    background: #fff;
    border-radius: 5rem;
}

.step-num {
    font-family: Oswald;
    font-weight: 600;
    font-size: 32rem;
    line-height: 1.3;
    color: #D24A43;
}

.step-title {
    margin: 10rem 0;
    font-weight: 700;
    font-size: 32rem;
    line-height: 1;
}

.step-text {
    font-size: 20rem;
    line-height: 1.5;
}

.step-more {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 305rem;
    padding: 20rem;
    background: url(../img/bg-step-more.png) center/cover no-repeat;
    border-radius: 5rem;
    overflow: hidden;
}

.step-more-title {
    margin-bottom: 30rem;
    font-weight: 700;
    font-size: 30rem;
    line-height: 1.3;
    color: #fff;
}

.step-more .btn {
    padding: 14rem;
    font-size: 20rem;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30rem;
    gap: 10rem;
}

.partner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320rem;
    height: 98rem;
    background: #F5F5F5;
    border-radius: 5rem;
}

.partner img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    max-width: 290rem;
    height: 100%;
    object-fit: contain;
    mix-blend-mode: multiply;
    opacity: 0.5;
}

.section-delivery {
    background: url(../img/bg-map.png) right bottom/1346rem no-repeat #F5F5F5;
}

.deliveries {
    display: flex;
    margin-top: 50rem;
    gap: 50rem;
}

.delivery {
    width: 300rem;
    padding-left: 14rem;
}

.delivery-name-info {
    position: relative;
    margin-bottom: 10rem;
}

.delivery-name-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: -14rem;
    width: 3rem;
    height: 100%;
    background: #D24A43;
}

.delivery-name {
    margin-bottom: 5rem;
    font-weight: 700;
    font-size: 20rem;
    line-height: 1.3;
}

.delivery-city {
    font-size: 16rem;
    line-height: 1.5;
}

.delivery-info:not(:last-child) {
    margin-bottom: 10rem;
}

.delivery-info-label {
    font-size: 16rem;
    line-height: 1.5;
    color: #605E5D;
}

.delivery-info-text {
    font-weight: 700;
    font-size: 20rem;
    line-height: 1.5;
}

.faq-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30rem;
    margin-bottom: 30rem;
    gap: 20rem;
}

.faq-item {
    padding: 20rem 24rem;
    border: 1rem solid #DADADA;
    border-radius: 5rem;
}

.faq-title {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 40rem;
    min-height: 40rem;
    font-size: 24rem;
    line-height: normal;
    cursor: pointer;
}

.faq-title::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40rem;
    height: 40rem;
    background: url(../img/icons/plus.svg) center/contain no-repeat;
    transition: all .3s ease;
}

.faq-title.active::after {
    background-image: url(../img/icons/close-faq.svg);
}

.faq-text {
    display: none;
    padding-top: 14rem;
    font-size: 20rem;
    line-height: 1.5;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30rem;
    margin-bottom: 30rem;
    gap: 20rem 50rem;
}

.contact {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 30rem;
    padding-left: 40rem;
    font-size: 20rem;
    line-height: 1.3;
}

.contact-address {
    max-width: 526rem;
}

.contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30rem;
    height: 30rem;
}

.contact-address::before {
    background: url(../img/icons/marker-pin.svg) center/contain no-repeat;
}

.contact-phone::before {
    background: url(../img/icons/phone-call.svg) center/contain no-repeat;
}

.contact-email::before {
    background: url(../img/icons/mail.svg) center/contain no-repeat;
}

/* forms */
.form-wrapper {
    padding: 30rem 40rem;
    background: #F5F5F5;
    border-radius: 5rem;
}

.form-title {
    font-size: 36rem;
}

.form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20rem;
    margin-top: 20rem;
}

.form-horizontal {
    flex-wrap: nowrap;
    align-items: flex-start;
}

.ip-cell {
    position: relative;
    width: 100%;
}

.form-horizontal .ip-cell {
    max-width: 450rem;
}

.input-text {
    font-weight: 400;
    font-size: 20rem;
    line-height: 1;
    width: 100%;
    height: 70rem;
    padding: 20rem;
    background: #fff;
    border: 1rem solid transparent;
    border-radius: 5rem;
    transition: all 0.3s ease;
}

.has-error .input-text,
.input-text.error {
    border-color: #D24A43;
}

textarea.input-text {
    height: 100rem;
    padding-top: 25rem;
}

.input-text:hover {
    border-color: rgb(0 0 0 / 10%);
}

.input-text:focus {
    border-color: rgb(0 0 0 / 20%);
}

.ip-cell span.error {
    display: none !important;
}

.help-block {
    display: none;
    position: relative;
    margin-top: 4rem;
    font-size: 12rem;
    line-height: 1.3;
    color: #D24A43;
}

.has-error .help-block {
    display: block;
}

.form-horizontal .btn {
    height: 70rem;
}

.ip-cell-text {
    margin-top: 20rem;
    font-size: 16rem;
    line-height: normal;
    color: #4D4D4D;
}

/* end forms */

.modal {
    display: none;
}

.modal.fancybox-content {
    width: 100%;
    height: 100%;
    padding: 0;
    background: transparent;
    border-radius: 5rem;
}

.modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600rem;
    width: 100%;
    margin: 0 auto;
    padding: 30rem 40rem;
    background: #F5F5F5;
    border-radius: 5rem;
}

.modal .fancybox-close-small {
    top: -25rem;
    right: -25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: 50rem;
    padding: 0;
    background: #2A547E;
    opacity: 1;
    transition: all .3s ease;
}

.modal .fancybox-close-small svg {
    width: 35rem;
    height: 35rem;
}

.modal .fancybox-close-small svg path {
    fill: #fff;
}

.modal .fancybox-close-small:hover {
    transform: scale(.95);
}

.modal_content + .fancybox-close-small {
    display: none;
}

.modal-title {
    margin-bottom: 10rem;
    font-weight: 700;
    font-size: 36rem;
    line-height: normal;
}

.modal-text {
    font-size: 20rem;
    line-height: 1.5;
}

.modal .form {
    margin-top: 20rem;
}

.modal .btn {
    width: 100%;
}

.modal-success {
    text-align: center;
}

/*end main styles*/

/*adaptive styles*/
@media (max-width: 1440px) {
    html {
        font-size: calc(100vw / 1440);
    }
}
/*end adaptive styles*/

/*mobile styles*/
@media (max-width: 480px) {
    html {
        font-size: calc(100vw / 480);
    }

    .header {
        height: 70rem;
        box-shadow: 0rem 4rem 10rem 0rem rgb(0 0 0 / 10%);
    }

    .header-container,
    .container,
    .footer-container {
        padding: 0 15rem;
    }

    .header-container {
        padding-right: 0;
    }

    .logo {
        max-width: 120rem;
    }

    .header-buttons.mobile-visible {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }

    .btn {
        font-size: 16rem;
    }

    .btn-big {
        font-size: 16rem;
    }

    .menu-button.mobile-visible {
        display: flex;
    }

    .footer-menus {
        flex-direction: column;
        padding-top: 20rem;
        padding-bottom: 50rem;
    }

    .footer-logo {
        max-width: 170rem;
    }

    .footer-goal {
        font-size: 16rem;
    }

    .footer-container-copyright {
        padding: 0;
    }

    .footer-copyrights {
        padding: 20rem 0;
    }

    .footer-copyright {
        flex-direction: column;
        justify-content: center;
        gap: 20rem;
        line-height: 1.5;
    }

    h1,
    .h1 {
        font-size: 32rem;
    }
    
    h2,
    .h2 {
        font-size: 32rem;
    }

    h3,
    .h3 {
        font-size: 24rem;
    }

    h4,
    .h4 {
        font-size: 20rem;
    }

    h5,
    .h5 {
        font-size: 18rem;
    }

    .page-subtitle {
        font-size: 18rem;
        line-height: 130%;
    }

    .page-title + .page-subtitle {
        margin-top: 10rem;
    }

    .page-text {
        margin-top: 20rem;
        font-size: 16rem;
    }

    .page-text-small {
        margin-top: 10rem;
        font-size: 16rem;
    }

    .header + .section {
        margin-top: 58rem;
    }

    .section {
        padding: 30rem 0;
    }
}

@media (max-width: 390px) {
    html {
        font-size: calc(100vw / 390);
    }

    .menu-links-wrapper .menu-links {
        margin-top: 20rem;
    }

    .header-buttons {
        margin-top: 20rem;
    }

    .dop-menu-wrapper {
        margin-top: 20rem;
    }

    .footer-menu:not(:last-child) {
        margin-bottom: 30rem;
    }

    .footer-menu-link {
        font-size: 16rem;
    }
}
/*end mobile styles*/