@charset "UTF-8";

html {
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

main {
    display: block;
}

b,
strong {
    font-weight: 600;
}

*,
:after,
:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-style: none;
}

img[width="0"][height="0"] {
    display: none;
}

a {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

a:hover,
a:focus {
    text-decoration: none;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    overflow: auto;
}

textarea::-webkit-scrollbar {
    width: 0;
}

::-ms-clear {
    display: none;
}

input {
    overflow: visible;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2rem;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}

li {
    margin-left: 20rem;
}

li:not(:last-child) {
    margin-bottom: 12rem;
}

@media (max-width: 480px) {
    li:not(:last-child) {
        margin-bottom: 6rem;
    }
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

label {
    margin: 0;
}

input,
button,
select {
    border: none;
    outline: none;
}

input {
    border-radius: 0;
}

*:focus {
    outline: none;
}

.no-scrolling {
	overflow: hidden;
}

.link {
    color: #D24A43;
	text-decoration: underline;
}

.link:hover {
	text-decoration: none;
}

.invert-link {
	text-decoration: none;
}

.invert-link:hover {
	text-decoration: underline;
}

/*styles config 
for example:
adaptive full-hd 1rem = calc(100vw / 1920)
adaptive 768px 1rem = calc(100vw / 768)
static 1rem = 1px
*/
html,
body {
    font-size: 1px;
    height: 100%;
}
/*end styles config*/

/*SCROLL ---------------------- */
.simplebar-track.simplebar-vertical {
    width: 6rem;
    right: -20rem;
}

.simplebar-track.simplebar-vertical::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 6rem;
    height: 100%;
    background: #fff;
    border-radius: 20rem;
    z-index: 0;
}

.simplebar-scrollbar {
    transition: all .1s linear;
    z-index: 1;
}

.simplebar-scrollbar::before {
    top: 0 !important;
    left: -10rem;
    right: -10rem;
    bottom: 0 !important;
    width: 6rem;
    margin: auto;
    background: #D24A43;
    border: 0;
    border-radius: 20rem;
    opacity: 0;
    transition: all .2s linear;
}

.simplebar-scrollbar.simplebar-visible::before {
    opacity: 1;
}

@media (max-width: 480px) {
    .simplebar-track.simplebar-vertical {
        right: -12rem;
    }
}
/**/

/* browser scroll width */
::-webkit-scrollbar {
    width: 10rem;
    height: 4rem;
}

/* browser scroll track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* browser scroll handle */
::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 3rem;
}

body .mobile-visible,
body .adaptive-visible {
    display: none;
}

@media (max-width: 1024px) {
    body .adaptive-visible {
        display: block;
    }
}

@media (max-width: 480px) {
    body .mobile-visible {
        display: block;
    }

    body .desktop-adaptive-visible,
    body .desktop-mobile-visible {
        display: none;
    }
}

/*main styles*/
body {
    margin: 0;
    color: #040201;
    font: normal 16rem/normal 'Roboto Condensed', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    overflow: hidden;
}

.container {
    position: relative;
    max-width: 1350rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 20rem;
}

.header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 92rem;
    margin: auto;
    background: #fff;
    z-index: 10;
}

.header-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1350rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 20rem;
    z-index: 11;
}

.logo {
    position: relative;
    display: block;
    max-width: 150rem;
    width: 100%;
    line-height: 0;
    z-index: 11;
}

.header-buttons {
    position: relative;
    display: flex;
    margin-left: auto;
    gap: 10rem;
    z-index: 11;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: auto;
    padding: 14rem 20rem;
    background: #D24A43;
    border-radius: 5rem;
    font-family: Oswald;
    font-weight: 600;
    font-size: 16rem;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease;
}

.btn:hover {
    opacity: 0.8;
}

.btn-big {
    font-size: 20rem;
}

.btn-loadmore {
    width: 100%;
    background: #F5F5F5;
    font-size: 20rem;
    color: #040201;
}

.btn.disabled,
.btn[disabled] {
    background: #D9D9D9;
}

.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70rem;
    height: 70rem;
    margin-left: 16rem;
    border-left: 1rem solid #DADADA;
}

.menu-button.active {
    background: #2A547E;
}

.menu {
    position: relative;
    display: block;
    width: 25rem;
    height: 18rem;
    background-color: transparent;
    font-size: 0;
    text-indent: -999rem;
    z-index: 11;
}

.menu span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 2rem;
    background: #424242;
    transition: background 0s .3s;
}

.menu::before,
.menu::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 2rem;
    background: #424242;
    transition-duration: 0.3s, 0.3s;
    transition-delay: 0.3s, 0s;
}

.menu::before {
    top: -100%;
    transition-property: top, transform;
}

.menu::after {
    bottom: -100%;
    transition-property: bottom, transform;
}

.menu.active::before {
    top: 0;
    transform: rotate(45deg);
}

.menu.active::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.menu.active::before,
.menu.active::after {
    background: #fff;
    transition-delay: 0s, 0.3s;
}

.menu.active span {
    background: none !important;
}

.menu-links-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    gap: 20rem;
    top: 70rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    padding: 50rem 20rem 50rem;
    background: #2A547E;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}

.header.active .menu-links-wrapper {
    opacity: 1;
    pointer-events: all;
}

.menu-links {
    display: flex;
    gap: 0 50rem;
}

.menu-links-wrapper .menu-links {
    flex-direction: column;
    align-items: center;
    gap: 20rem;
}

.menu-links-wrapper .menu-link {
    position: relative;
    width: fit-content;
    font-weight: 400;
    font-size: 16rem;
    line-height: 1.5;
    text-align: center;
    color: #fff;
}

.menu-links-wrapper .menu-link.active {
    text-decoration: underline;
}

.menu-links.desktop-mobile-visible {
    margin-left: auto;
}

.menu-links.desktop-mobile-visible .menu-link {
    position: relative;
    font-weight: 700;
    font-size: 18rem;
    line-height: normal;
    text-transform: uppercase;
    color: #040201;
}

.menu-links.desktop-mobile-visible .menu-link.active,
.menu-links.desktop-mobile-visible .menu-link:hover {
    color: #D24A43;
}

.menu-links.desktop-mobile-visible + .header-buttons {
    margin-left: 0;
}

.menu-links.desktop-mobile-visible .catalog-link {
    padding-left: 30rem;
    color: #D24A43;
}

.menu-links.desktop-mobile-visible .catalog-link:hover {
    color: #040201;
}

.menu-links.desktop-mobile-visible .catalog-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20rem;
    height: 20rem;
    background: url(../img/icons/menu-red.svg) center/contain no-repeat;
}

.have-submenu {
    position: relative;
}

.have-submenu::after {
    content: '';
    position: absolute;
    top: 0;
    right: -15rem;
    bottom: 0;
    margin: auto;
    width: 12rem;
    height: 7rem;
    background: url(../img/icons/arrow-down-red.svg) center/contain no-repeat;
    transition: all .3s ease;
}

.have-submenu:hover::after {
    transform: rotate(-180deg);
}

.submenu-links {
    position: absolute;
    top: 20rem;
    display: flex;
    flex-direction: column;
    width: 200rem;
    height: auto;
    padding: 10rem;
    background: #fff;
    box-shadow: 0rem 4rem 10rem 0rem rgb(0 0 0 / 10%);
    border-radius: 5rem;
    transition: opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
}

.submenu-links.active {
    transition: opacity 0.3s ease;
    opacity: 1;
    visibility: visible;
}

.submenu-link {
    width: 100%;
    padding: 6rem 10rem;
    font-size: 14rem;
    line-height: normal;
    color: #040201;
}

.submenu-link:hover {
    color: #D24A43;
}

.dop-menu-phone {
    position: relative;
    margin-left: 50rem;
    font-weight: 600;
    font-size: 20rem;
    line-height: normal;
}

.dop-menu-phone:hover {
    color: #D24A43;
}

.footer {
    position: relative;
    background: #F5F5F5;
}

.footer-container {
    max-width: 1350rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 20rem;
}

.footer-logo {
    position: relative;
    display: block;
    max-width: 250rem;
    width: 100%;
    line-height: 0;
}

.footer-menus {
    display: flex;
    justify-content: space-between;
    padding-top: 70rem;
    padding-bottom: 70rem;
}

.footer-menu {
    display: flex;
    flex-direction: column;
    max-width: 400rem;
    width: 100%;
    margin-top: 17rem;
}

.footer-menu:not(:last-child) {
    margin-bottom: 40rem;
}

.footer-menu *:not(:last-child, .footer-menu-title) {
    margin-bottom: 10rem;
}

.footer-menu-title {
    margin-bottom: 16rem;
    font-size: 20rem;
}

.footer-menu-link {
    font-size: 16rem;
    line-height: 1.5;
}

.footer-menu a:hover {
    color: #D24A43;
}

.footer-goals {
    display: flex;
    flex-direction: column;
    margin-top: 30rem;
    gap: 14rem 0;
}

.footer-goal {
    position: relative;
    padding-left: 30rem;
    font-size: 20rem;
    line-height: 1.5;
}

.footer-goal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 20rem;
    height: 20rem;
    background: url(../img/icons/check-circle-broken.svg) center/contain no-repeat;
}

.footer-copyrights {
    padding: 20rem 30rem;
    background: #2A547E;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16rem;
    line-height: normal;
    color: #fff;
}

.digital-muse {
    color: #3EB5F1;
    text-decoration: underline;
}

.digital-muse:hover {
    text-decoration: none;
}

h1,
.h1 {
    font-weight: 700;
    font-size: 48rem;
    line-height: normal;
}

h2,
.h2 {
    font-weight: 700;
    font-size: 40rem;
    line-height: normal;
}

h3,
.h3 {
    font-weight: 700;
    font-size: 32rem;
    line-height: normal;
}

h4,
.h4 {
    font-weight: 600;
    font-size: 24rem;
    line-height: normal;
}

h5,
.h5 {
    font-weight: 600;
    font-size: 20rem;
    line-height: normal;
}

.page-subtitle {
    font-size: 24rem;
    line-height: 1.5;
}

.page-title + .page-subtitle {
    margin-top: 10rem;
}

.page-text {
    margin-top: 10rem;
    font-size: 20rem;
    line-height: 1.5;
}

.page-text + .page-text {
    margin-top: 10rem;
}

.page-text-small {
    font-size: 16rem;
}

.section {
    position: relative;
    padding: 70rem 0;
}

.header + .section {
    margin-top: 92rem;
}

.red-text {
    color: #D24A43;
}

.gray-bg {
    background: #F5F5F5;
}

.section-mainpage {
    padding: 110rem 0 60rem;
}

.mainpage-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100rem;
}

.mainpage-info {
    max-width: 912rem;
    width: 100%;
}

.mainpage-title {
    font-family: Oswald;
    font-weight: 700;
    font-size: 70rem;
    line-height: 1.2;
    text-transform: uppercase;
}

.mainpage-img {
    position: absolute;
    top: -54rem;
    right: 0;
    width: 443rem;
    height: 443rem;
}

.goals {
    display: flex;
    justify-content: space-between;
    gap: 20rem 70rem;
}

.goal-title {
    position: relative;
    margin-bottom: 12rem;
    padding-left: 40rem;
    font-family: Oswald;
    font-weight: 600;
    font-size: 20rem;
    line-height: 1.3;
    text-transform: uppercase;
}

.goal-title::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 30rem;
    height: 30rem;
    background: url(../img/icons/check-circle-broken.svg) center/contain no-repeat;
}

.goal-text {
    width: max-content;
    font-size: 20rem;
    line-height: 1.5;
}

.mainpage-catalog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30rem;
    gap: 30rem 50rem;
}

.mainpage-catalog-category {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 10rem;
    overflow: hidden;
}

.mainpage-catalog-category-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200rem;
    height: 200rem;
    background: linear-gradient(180.00deg, rgba(218, 218, 218, 0.78), rgb(199, 199, 199) 100%);
}

.mainpage-catalog-category-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 10rem;
    object-fit: contain;
    transition: all .3s ease;
}

.mainpage-catalog-category-img:hover img {
    transform: scale(1.05);
}

.mainpage-catalog-category-info {
    width: calc(100% - 200rem);
    padding: 30rem 20rem;
}

.mainpage-catalog-category-title {
    font-weight: 700;
    font-size: 24rem;
    line-height: 1;
}

a.mainpage-catalog-category-title:hover {
    color: #D24A43;
}

.mainpage-catalog-category-params {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20rem;
    gap: 5rem;
}

.mainpage-catalog-category-param {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 10rem;
    border: 1rem solid #D24A43;
    border-radius: 5rem;
    font-size: 16rem;
    line-height: 1;
}

a.mainpage-catalog-category-param:hover {
    background: #D24A43;
    color: #fff;
}

.galery {
    display: flex;
    margin-top: 30rem;
    gap: 30rem;
}

.galery-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 305rem;
    height: 400rem;
    border-radius: 5rem;
    overflow: hidden;
}

.galery-hidden-img {
    display: none;
}

.galery-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease;
}

.galery-img:hover img {
    transform: scale(1.05);
}

.galery-img-more::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    background: rgb(19 26 40 / 70%);
    transition: all .3s ease;
}

.galery-img-more-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    width: fit-content;
    height: auto;
    font-weight: 600;
    font-size: 24rem;
    line-height: 1.5;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    padding: 20rem;
    border: 2rem solid #fff;
    border-radius: 5rem;
    z-index: 1;
    transition: all .3s ease;
}

.steps {
    display: flex;
    margin-top: 30rem;
    gap: 30rem;
}

.step {
    width: 305rem;
    padding: 20rem;
    background: #fff;
    border-radius: 5rem;
}

.step-num {
    font-family: Oswald;
    font-weight: 600;
    font-size: 32rem;
    line-height: 1.3;
    color: #D24A43;
}

.step-title {
    margin: 10rem 0;
    font-weight: 700;
    font-size: 32rem;
    line-height: 1;
}

.step-text {
    font-size: 20rem;
    line-height: 1.5;
}

.step-more {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 305rem;
    padding: 20rem;
    background: url(../img/bg-step-more.png) center/cover no-repeat;
    border-radius: 5rem;
    overflow: hidden;
}

.step-more-title {
    margin-bottom: 30rem;
    font-weight: 700;
    font-size: 30rem;
    line-height: 1.3;
    color: #fff;
}

.step-more .btn {
    padding: 14rem;
    font-size: 20rem;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30rem;
    gap: 10rem;
}

.partner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320rem;
    height: 98rem;
    background: #F5F5F5;
    border-radius: 5rem;
}

.partner img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    max-width: 290rem;
    height: 100%;
    object-fit: contain;
    mix-blend-mode: multiply;
    opacity: 0.5;
}

.partners .owl-nav {
    margin: 10rem auto 0;
}

.partners .owl-nav button {
    margin: 0 5rem !important;
	width: 30rem;
    height: 30rem;
    padding: 0 !important;
    transition: all .3s ease;
}

.partners .owl-nav button:hover {
    opacity: 0.8;
}

.partners .owl-nav button.owl-prev {
	left: -30rem;
	background: url(../img/icons/arrow-left.svg) center/13rem no-repeat !important;
}

.partners .owl-nav button.owl-next {
	right: -30rem;
	background: url(../img/icons/arrow-right.svg) center/13rem no-repeat !important;
}

.partners .owl-nav button span {
	display: none;
}

.partners .owl-nav .disabled {
	opacity: 0.3 !important;
}

.section-delivery {
    background: url(../img/bg-map.png) right bottom/1346rem no-repeat #F5F5F5;
}

.deliveries {
    display: flex;
    margin-top: 50rem;
    gap: 50rem;
}

.delivery {
    width: 300rem;
    padding-left: 14rem;
}

.delivery-name-info {
    position: relative;
    margin-bottom: 10rem;
}

.delivery-name-info::before {
    content: '';
    position: absolute;
    top: 0;
    left: -14rem;
    width: 3rem;
    height: 100%;
    background: #D24A43;
}

.delivery-name {
    margin-bottom: 5rem;
    font-weight: 700;
    font-size: 20rem;
    line-height: 1.3;
}

.delivery-city {
    font-size: 16rem;
    line-height: 1.5;
}

.delivery-info:not(:last-child) {
    margin-bottom: 10rem;
}

.delivery-info-label {
    font-size: 16rem;
    line-height: 1.5;
    color: #605E5D;
}

.delivery-info-text {
    font-weight: 700;
    font-size: 20rem;
    line-height: 1.5;
}

.faq-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30rem;
    margin-bottom: 30rem;
    gap: 20rem;
}

.faq-item {
    padding: 20rem 24rem;
    border: 1rem solid #DADADA;
    border-radius: 5rem;
}

.faq-title {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 40rem;
    min-height: 40rem;
    font-size: 24rem;
    line-height: normal;
    cursor: pointer;
}

.faq-title::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40rem;
    height: 40rem;
    background: url(../img/icons/plus.svg) center/contain no-repeat;
    transition: all .3s ease;
}

.faq-title.active::after {
    background-image: url(../img/icons/close-faq.svg);
}

.faq-text {
    display: none;
    padding-top: 14rem;
    font-size: 20rem;
    line-height: 1.5;
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30rem;
    margin-bottom: 30rem;
    gap: 20rem 50rem;
}

.contact {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 30rem;
    padding-left: 40rem;
    font-size: 20rem;
    line-height: 1.3;
}

.contact-address {
    max-width: 526rem;
}

.contact::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30rem;
    height: 30rem;
}

.contact-address::before {
    background: url(../img/icons/marker-pin.svg) center/contain no-repeat;
}

.contact-phone::before {
    background: url(../img/icons/phone-call.svg) center/contain no-repeat;
}

.contact-email::before {
    background: url(../img/icons/mail.svg) center/contain no-repeat;
}

/* forms */
.form-wrapper {
    padding: 30rem 40rem;
    background: #F5F5F5;
    border-radius: 5rem;
}

.form-title {
    font-size: 36rem;
}

.form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20rem;
    margin-top: 20rem;
}

.form-horizontal {
    flex-wrap: nowrap;
    align-items: flex-start;
}

.ip-cell {
    position: relative;
    width: 100%;
}

.form-horizontal .ip-cell {
    max-width: 450rem;
}

.input-text {
    font-weight: 400;
    font-size: 20rem;
    line-height: 1;
    width: 100%;
    height: 70rem;
    padding: 20rem;
    background: #fff;
    border: 1rem solid transparent;
    border-radius: 5rem;
    transition: all 0.3s ease;
}

.has-error .input-text,
.input-text.error {
    border-color: #D24A43;
}

textarea.input-text {
    height: 120rem;
    padding-top: 25rem;
}

.input-text:hover {
    border-color: rgb(0 0 0 / 10%);
}

.input-text:focus {
    border-color: rgb(0 0 0 / 20%);
}

.ip-cell span.error {
    display: none !important;
}

.help-block {
    display: none;
    position: relative;
    margin-top: 4rem;
    font-size: 12rem;
    line-height: 1.3;
    color: #D24A43;
}

.has-error .help-block {
    display: block;
}

.form-horizontal .btn {
    height: 70rem;
}

.ip-cell-text {
    margin-top: 20rem;
    font-size: 16rem;
    line-height: normal;
    color: #4D4D4D;
}

.ch,
.rd {
    display: none;
}

.ch + label,
.rd + label {
    position: relative;
    display: inline-block;
    padding-left: 30rem;
    cursor: pointer;
    font-size: 20rem;
    line-height: 1;
    color: #605E5D;
    transition: all 0.3s ease;
}

.ch + label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 20rem;
    height: 20rem;
    border: 1rem solid #605E5D;
    border-radius: 2rem;
    background-color: #fff;
    transition: all 0.3s ease;
}

.ch + label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 20rem;
    height: 20rem;
    background: #D24A43;
    border-radius: 2rem;
    transform: scale(0);
    transition: all 0.2s linear;
}

.rd + label::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 20rem;
    height: 20rem;
    border: 1rem solid #605E5D;
    border-radius: 20rem;
    background-color: transparent;
    transition: all 0.3s ease;
}

.rd + label::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 20rem;
    height: 20rem;
    background: #D24A43;
    border-radius: 20rem;
    transform: scale(0);
    transition: all 0.2s linear;
}

.ch:checked + label::before,
.rd:checked + label::before {
    border-color: #D24A43;
}

.ch:checked + label::after,
.rd:checked + label::after {
    transform: scale(1);
}

.ch + label a,
.rd + label a {
    color: #D24A43;
    text-decoration: underline;
}

.ch + label a:hover,
.rd + label a:hover {
    text-decoration: none;
}

.input-file {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10rem;
}

.input-file-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    margin: 0;
    padding: 10rem 20rem;
    background-color: #D24A43;
    border-radius: 5rem;
    border: none;
    font-family: Oswald;
    font-weight: 600;
    font-size: 16rem;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease;
}

.input-file-text {
    width: calc(100% - 170rem);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

.input-file:hover .input-file-btn {
    opacity: 0.8;
}

.input-file:active .input-file-btn {
    opacity: 0.8;
}

.input-file input[type=file]:disabled+.input-file-btn {
    background-color: #D9D9D9;
}

/* end forms */

.modal {
    display: none;
}

.modal.fancybox-content {
    width: 100%;
    height: 100%;
    padding: 0;
    background: transparent;
    border-radius: 5rem;
}

.modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 600rem;
    width: 100%;
    margin: 0 auto;
    padding: 30rem 40rem;
    background: #F5F5F5;
    border-radius: 5rem;
}

.modal .fancybox-close-small {
    top: -25rem;
    right: -25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50rem;
    height: 50rem;
    padding: 0;
    background: #2A547E;
    opacity: 1;
    transition: all .3s ease;
}

.modal .fancybox-close-small svg {
    width: 35rem;
    height: 35rem;
}

.modal .fancybox-close-small svg path {
    fill: #fff;
}

.modal .fancybox-close-small:hover {
    transform: scale(.95);
}

.modal_content + .fancybox-close-small {
    display: none;
}

.modal-title {
    margin-bottom: 10rem;
    font-weight: 700;
    font-size: 36rem;
    line-height: normal;
}

.modal-text {
    font-size: 20rem;
    line-height: 1.5;
}

.modal .form {
    margin-top: 20rem;
}

.modal .btn {
    width: 100%;
}

.modal-success {
    text-align: center;
}

.section-breadcrumbs {
    padding: 20rem 0;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    gap: 10rem 20rem;
}

.breadcrumb {
    position: relative;
    font-weight: 500;
    font-size: 14rem;
    line-height: normal;
    color: #2A547E
}

a.breadcrumb:hover {
    opacity: 0.8;
}

span.breadcrumb {
    color: #999999;
}

.breadcrumb:not(:last-child)::before {
    content: '—';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -15rem;
    color: #999999;
}

.section-inner-page {
    padding-top: 50rem;
    padding-bottom: 0;
}

.contacts-galery {
    position: relative;
    margin-top: 60rem;
}

.galery-slider {
    margin-top: 30rem;
}

.galery-slider .owl-nav {
    position: absolute;
    top: -60rem;
    right: 0;
    margin: 0;
}

.galery-slider .owl-nav button {
    margin: 0 !important;
	width: 50rem;
    height: 50rem;
    padding: 0 !important;
    transition: all .3s ease;
}

.galery-slider .owl-nav button:hover {
    opacity: 0.8;
}

.galery-slider .owl-nav button.owl-prev {
	left: -30rem;
	background: url(../img/icons/arrow-left.svg) center/13rem no-repeat #F3F9FF !important;
}

.galery-slider .owl-nav button.owl-next {
	right: -30rem;
	background: url(../img/icons/arrow-right.svg) center/13rem no-repeat #F3F9FF !important;
}

.galery-slider .owl-nav button span {
	display: none;
}

.galery-slider .owl-nav .disabled {
	opacity: 0.3 !important;
}

.section-text-page .page-text {
    margin-top: 30rem;
}

.page-text p {
    margin: 10rem 0;
}

.files-block {
    display: flex;
    flex-wrap: wrap;
    gap: 10rem 20rem;
    width: 100%;
    margin: 30rem 0;
    padding: 10rem;
    background: #F5F5F5;
    border-radius: 10rem;
}

.file {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50rem;
    padding: 10rem 10rem 10rem 42rem;
    background: #fff;
    border-radius: 5rem;
    font-size: 20rem;
    line-height: normal;
    color: #040201;
}

.file::before {
    content: '';
    position: absolute;
    top: 0;
    left: 10rem;
    bottom: 0;
    margin: auto;
    width: 23rem;
    height: 30rem;
    background: url(../img/icons/pdf.png) center/contain no-repeat;
}

.file:hover {
    opacity: 0.8;
}

.galery-block {
    margin-top: 30rem;
}

.error-page-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.error-title {
    font-weight: 900;
    font-size: 300rem;
    line-height: 0.9;
    color: #F5F5F5;
}

.error-text {
    font-weight: 700;
    font-size: 20rem;
    line-height: 1.5;
}

.error-page-info .buttons {
    margin-top: 20rem;
}

.catalog-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20rem 50rem;
    margin-top: 30rem;
}

.filters {
    display: flex;
    flex-direction: column;
    gap: 20rem 0;
    width: 300rem;
}

.filter-element-name {
    position: relative;
    padding: 20rem 0;
    font-family: Oswald;
    font-weight: 600;
    font-size: 20rem;
    line-height: 1;
    cursor: pointer;
}

.filter-element-name::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 12rem;
    height: 7rem;
    background: url(../img/icons/arrow-down-red.svg) center / contain no-repeat;
    transition: all .3s ease;
}

.filter-element-name.active::after {
    transform: rotate(-180deg);
}

.filter-element-block {
    display: none;
}

.filter-category-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10rem;
}

.filter-category {
    display: inline-block;
    padding: 5rem 10rem;
    border-radius: 5rem;
    font-size: 20rem;
    line-height: 1;
    color: #605E5D;
}

.filter-category:hover,
.filter-category.active {
    background: #C2E1FF;
}

.filter-category.active {
    font-weight: 500;
}

.filter-list {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.products-block {
    width: calc(100% - 350rem);
}

.products-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30rem;
}

.product {
    display: flex;
    flex-direction: column;
    max-width: 300rem;
    width: 100%;
    padding: 20rem;
    border: 1rem solid #D9D9D9;
    border-radius: 5rem;
}

.product-img {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250rem;
    margin-bottom: 30rem;
}

.product-img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all .3s ease;
}

.product-img:hover img {
    transform: scale(1.05);
}

.product-name {
    display: inline-block;
    font-weight: 700;
    font-size: 20rem;
    line-height: 1.3;
}

.product-text {
    margin-top: 20rem;
    margin-bottom: 30rem;
    font-size: 16rem;
    line-height: 1.8;
}

.product .btn {
    margin-top: auto;
    padding: 5rem 15rem;
}

.products-block .btn-loadmore {
    margin-top: 30rem;
}

.seo-text-block {
    font-size: 20rem;
    line-height: 1.5;
}

.seo-text-block h2 {
    font-weight: 400;
    font-size: 24rem;
}

.seo-text-block h3 {
    font-weight: 400;
    font-size: 22rem;
}

.seo-text-block h4 {
    font-weight: 400;
    font-size: 20rem;
}

.seo-text-block h5 {
    font-weight: 400;
    font-size: 18rem;
}

.seo-text-block p {
    margin: 10rem 0;
}

.btn-filter,
.close-filters,
.filters-title,
.btn-close-filters {
    display: none;
}

.product-page-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20rem 100rem;
}

.product-page-images-sliders {
    display: flex;
    flex-direction: column;
    width: 400rem;
}

.product-page-images-slider {
    border: 1rem solid #D9D9D9;
    border-radius: 5rem;
}

.product-page-images-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400rem;
    height: 450rem;
}

.product-page-images-slide img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 40rem;
    object-fit: contain;
}

.product-page-images-slider-nav {
    max-width: calc(100% - 80rem);
    margin: 20rem auto 0;
}

.product-page-images-slide-nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100rem;
    height: 100rem;
    border: 1rem solid #D9D9D9;
    border-radius: 5rem;
}

.product-page-images-slide-nav img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 10rem;
    object-fit: contain;
}

.product-page-images-slider-nav .owl-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: -1;
}

.product-page-images-slider-nav .owl-nav button {
    position: absolute;
    margin: 0 !important;
	width: 30rem;
    height: 100rem;
    padding: 0 !important;
    transition: all .3s ease;
}

.product-page-images-slider-nav .owl-nav button:hover {
    opacity: 0.8;
}

.product-page-images-slider-nav .owl-nav button.owl-prev {
	left: -40rem;
	background: url(../img/icons/arrow-left.svg) center/13rem no-repeat !important;
}

.product-page-images-slider-nav .owl-nav button.owl-next {
	right: -40rem;
	background: url(../img/icons/arrow-right.svg) center/13rem no-repeat !important;
}

.product-page-images-slider-nav .owl-nav button span {
	display: none;
}

.product-page-images-slider-nav .owl-nav .disabled {
	opacity: 0.3 !important;
}

.product-page-product-block {
    display: flex;
    flex-direction: column;
    max-width: 450rem;
    width: 100%;
    gap: 20rem 0;
}

.product-page-product-name {
    font-weight: 700;
    font-size: 32rem;
    line-height: 1.2;
}

.product-page-product-chars {
    display: flex;
    flex-direction: column;
    gap: 20rem 0;
    font-size: 16rem;
    line-height: 1;
}

.product-page-product-char {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.product-page-product-char-name,
.product-page-product-char-text {
    position: relative;
    border-bottom: 1rem solid #fff;
}

.product-page-product-char-name {
    padding-right: 5rem;
}

.product-page-product-char-text {
    padding-left: 5rem;
}

.product-page-product-char::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 17rem;
    border-bottom: 1rem solid #D9D9D9;
}

.product-page-product-params-title {
    font-size: 16rem;
    line-height: 1.5;
}

.product-page-product-params {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    gap: 5rem;
}

.product-page-product-param {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 10rem;
    border: 1rem solid #D24A43;
    border-radius: 5rem;
    font-size: 16rem;
    line-height: 1;
    transition: all .3s ease;
    cursor: pointer;
}

.param-big {
    font-size: 20rem;
}

.product-page-product-param:hover {
    background: #D24A43;
    color: #fff;
}

.product-page-product-params-chexboxes {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    margin-top: 10rem;
}

.product-page-product-params-chexboxes .ch + label {
    display: flex;
    align-items: center;
    padding-left: 25rem;
    font-size: 16rem;
    line-height: 21rem;
    color: #040201;
}

.product-page-product-params-chexboxes .ch + label::before {
    border: 2rem solid #2A547E;
}

.product-page-product-params-chexboxes .ch + label::after {
    background: #2A547E;
}

.question {
    position: relative;
    display: inline-block;
    width: 20rem;
    height: 20rem;
    margin-left: 10rem;
    background: #2A547E;
    border-radius: 20rem;
    font-size: 14rem;
    line-height: 20rem;
    text-align: center;
    color: #fff;
}

.product-page-price-block {
    width: 300rem;
    padding: 20rem;
    background: #F5F5F5;
    border-radius: 5rem;
}

.product-page-price-text {
    font-weight: 500;
    font-size: 16rem;
    line-height: 1.5;
    color: #605E5D;
}

.product-page-price {
    font-family: Oswald;
    font-weight: 600;
    font-size: 32rem;
    line-height: 1.5;
}

.rub {
    font-size: 24rem;
    line-height: 1.5;
}

.product-page-price-block .btn-big {
    width: 100%;
    margin-top: 10rem;
}

.product-page-info-block {
    padding: 15rem 20rem;
    background: #F5F5F5;
    border-radius: 10rem;
}

.product-page-info-block-title {
    font-size: 24rem;
    line-height: 1.5;
}

.table {
    display: block;
    width: 100%;
    margin: 20rem 0;
    border-spacing: 0;
    border: 1rem solid #fff;
    overflow-x: auto;
}

.table th,
.table td {
    padding: 10rem 20rem;
    border: 2rem solid #fff;
    font-weight: 400;
    font-size: 20rem;
    line-height: 1.5;
    text-align: left;
}

.table th {
    background: #fff;
    color: #605E5D;
}

.table th:not(:nth-child(1),:nth-child(2)),
.table td:not(:nth-child(1),:nth-child(2)) {
    text-align: right;
}

.table tr:nth-child(even) td {
    background: #fff;
}

.table th:nth-child(2),
.table td:nth-child(2) {
    max-width: 280rem;
}

.product-page-info-block-text {
    padding: 20rem 0;
}

.product-page-info-block-text-title {
    margin-bottom: 20rem;
    font-size: 24rem;
    line-height: 1.3;
}

.product-page-info-block-text-text {
    font-size: 20rem;
    line-height: 1.5;
}

.product-page-info-block-text-text p {
    margin: 10rem 0;
}

.section-dop-products {
    padding-bottom: 0;
}

.dop-title-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.dop-title {
    max-width: 77%;
    padding: 8rem 0;
    font-family: Oswald;
    font-size: 28rem;
    line-height: 1.5;
    text-transform: uppercase;
}

.dop-products {
    display: flex;
    flex-wrap: wrap;
    gap: 20rem 30rem;
    margin-top: 20rem;
}

.dop-products .product {
    max-width: 305rem;
}

/*end main styles*/

/*adaptive styles*/
@media (max-width: 1440px) {
    html {
        font-size: calc(100vw / 1440);
    }
}
/*end adaptive styles*/

/*mobile styles*/
@media (max-width: 480px) {
    html {
        font-size: calc(100vw / 480);
    }

    .header {
        height: 70rem;
        box-shadow: 0rem 4rem 10rem 0rem rgb(0 0 0 / 10%);
    }

    .header-container,
    .container,
    .footer-container {
        padding: 0 15rem;
    }

    .header-container {
        padding-right: 0;
    }

    .container-mob-not-padding {
        padding: 0;
    }

    .logo {
        max-width: 120rem;
    }

    .header-buttons.mobile-visible {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }

    .header-buttons.mobile-visible .btn {
        padding: 15rem 20rem;
    }

    .dop-menu-phone {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45rem;
        height: 45rem;
        margin-left: auto;
        font-size: 0;
    }

    .dop-menu-phone::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 25rem;
        height: 25rem;
        background: url(../img/icons/phone-call-mob.svg) center/contain no-repeat;
    }

    .btn {
        padding: 7rem 10rem;
        border-radius: 2rem;
        font-size: 16rem;
    }

    .btn-big {
        font-size: 16rem;
    }

    .menu-button.mobile-visible {
        display: flex;
    }

    .footer-menus {
        flex-direction: column;
        padding-top: 20rem;
        padding-bottom: 50rem;
    }

    .footer-logo {
        max-width: 170rem;
    }

    .footer-goal {
        font-size: 16rem;
    }

    .footer-container-copyright {
        padding: 0;
    }

    .footer-copyrights {
        padding: 20rem 0;
    }

    .footer-copyright {
        flex-direction: column;
        justify-content: center;
        gap: 20rem;
        line-height: 1.5;
    }

    h1,
    .h1 {
        font-size: 24rem;
    }
    
    h2,
    .h2 {
        font-size: 22rem;
    }

    h3,
    .h3 {
        font-size: 20rem;
    }

    h4,
    .h4 {
        font-size: 18rem;
    }

    h5,
    .h5 {
        font-size: 16rem;
    }

    .page-subtitle {
        font-size: 16rem;
        line-height: 1.3;
    }

    .page-title + .page-subtitle {
        margin-top: 10rem;
    }

    .page-text {
        margin-top: 5rem;
        font-size: 16rem;
    }

    .page-text-small {
        margin-top: 10rem;
        font-size: 16rem;
    }

    .header + .section {
        margin-top: 70rem;
    }

    .section {
        padding: 30rem 0;
    }

    .mainpage-wrapper {
        margin-bottom: 20rem;
    }

    .mainpage-title {
        font-size: 24rem;
    }

    .goals {
        flex-direction: column;
        gap: 20rem;
    }

    .goal-title {
        margin-bottom: 5rem;
        padding-left: 30rem;
        font-size: 16rem;
    }

    .goal-title::before {
        width: 20rem;
        width: 20rem;
    }

    .goal-text {
        font-size: 16rem;
    }

    .mainpage-catalog {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 20rem;
        gap: 10rem;
    }

    .mainpage-catalog-category {
        border-radius: 5rem;
    }

    .mainpage-catalog-category-img {
        width: 120rem;
        height: 120rem;
    }

    .mainpage-catalog-category-info {
        width: calc(100% - 120rem);
        padding: 10rem;
    }

    .mainpage-catalog-category-title {
        font-size: 20rem;
    }

    .mainpage-catalog-category-params {
        margin-top: 10rem;
    }

    .mainpage-catalog-category-param {
        padding: 3rem 5rem;
        font-size: 12rem;
    }

    .galery {
        flex-wrap: wrap;
        margin-top: 20rem;
        gap: 10rem;
    }

    .galery-img {
        width: calc(50% - 5rem);
        height: 276rem;
    }

    .galery-img-more-text {
        padding: 10rem;
        font-size: 20rem;
    }

    .steps {
        flex-wrap: wrap;
        margin-top: 20rem;
        gap: 10rem;
    }

    .step {
        width: calc(50% - 5rem);
        padding: 10rem;
    }

    .step-num {
        font-size: 20rem;
    }

    .step-title {
        font-size: 16rem;
    }

    .step-text {
        font-size: 14rem;
    }

    .step-more {
        width: calc(50% - 5rem);
        padding: 10rem;
    }

    .step-more-title {
        margin-bottom: 20rem;
        font-size: 16rem;
    }

    .step-more .btn {
        padding: 5rem 12rem;
        font-size: 14rem;
    }

    .partners {
        margin-top: 20rem;
    }

    .partner {
        width: 100%;
        height: 70rem;
    }

    .partner img {
        max-width: calc(100% - 20rem);
    }

    .section-delivery {
        background-size: 600rem;
    }

    .deliveries {
        margin-top: 30rem;
        gap: 20rem;
        overflow-x: scroll;
        -ms-overflow-style: none;
		scrollbar-width: none;
    }

    .deliveries::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .delivery {
        width: 250rem;
        min-width: 250rem;
    }

    .delivery:first-child {
        margin-left: 15rem;
    }

    .delivery-name {
        font-size: 16rem;
    }

    .delivery-city {
        font-size: 12rem;
    }

    .delivery-info-label {
        font-size: 12rem;
    }

    .delivery-info-text {
        font-size: 12rem;
    }

    .faq-wrapper {
        margin-top: 20rem;
        margin-bottom: 20rem;
        gap: 10rem;
    }

    .faq-item {
        padding: 6rem 10rem;
    }

    .faq-title {
        min-height: 30rem;
        font-size: 16rem;
    }

    .faq-title::after {
        width: 30rem;
        height: 30rem;
    }

    .faq-text {
        font-size: 12rem;
    }

    .contacts {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20rem;
        margin-bottom: 20rem;
    }

    .contact {
        font-size: 16rem;
    }

    .contact-address {
        max-width: 340rem;
    }

    .form-wrapper {
        padding: 0;
        background: none;
    }

    .form {
        gap: 10rem;
    }

    .form-horizontal {
        flex-direction: column;
    }

    .form-title {
        font-size: 24rem;
    }

    .input-text {
        padding: 15rem;
        height: 50rem;
        font-size: 16rem;
    }

    textarea.input-text {
        height: 100rem;
    }

    .form-wrapper .input-text {
        background: #F5F5F5;
    }

    .form-horizontal .btn {
        width: 100%;
        height: 50rem;
        border-radius: 5rem;
    }

    .ip-cell-text {
        margin-top: 10rem;
        font-size: 14rem;
    }

    .modal_content {
        max-width: calc(100% - 30rem);
        padding: 20rem 30rem;
    }

    .modal .fancybox-close-small {
        top: -15rem;
        right: -15rem;
        width: 30rem;
        height: 30rem;
    }

    .modal .fancybox-close-small svg {
        width: 25rem;
        height: 25rem;
    }

    .modal-title {
        font-size: 24rem;
    }

    .modal-text {
        font-size: 16rem;
    }

    .galery-slider {
        margin-top: 20rem;
    }

    .galery-slider .galery-img {
        width: 100%;
    }

    .galery-slider .owl-nav {
        position: relative;
        top: auto;
        margin-top: 10rem;
    }

    .galery-slider .owl-nav button {
        margin: 0 5rem !important;
        width: 30rem;
        height: 30rem;
    }
    
    .galery-slider .owl-nav button.owl-prev,
    .galery-slider .owl-nav button.owl-next {
        background-size: 10rem !important;
    }

    .section-breadcrumbs {
        padding: 30rem 0 0;
    }

    .section-inner-page {
        padding-top: 30rem;
        padding-bottom: 0;
    }

    .contacts-galery {
        margin-top: 30rem;
    }

    .section-text-page .page-text {
        margin-top: 10rem;
    }

    .files-block {
        gap: 10rem;
        margin: 20rem 0;
    }

    .file {
        min-height: 40rem;
        padding-left: 34rem;
        font-size: 16rem;
    }

    .file::before {
        width: 16rem;
        height: 21rem;
    }

    .error-title {
        font-size: 240rem;
    }

    .error-text {
        font-size: 18rem;
    }

    .catalog-block {
        flex-direction: column;
    }

    .products-block {
        width: 100%;
    }

    .products-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 10rem;
    }

    .product {
        padding: 10rem;
    }

    .product-img {
        height: 170rem;
        margin-bottom: 20rem;
    }

    .product-name {
        font-size: 16rem;
    }

    .product-text {
        margin-top: 10rem;
        margin-bottom: 20rem;
        font-size: 14rem;
        line-height: 1.5;
    }

    .btn-filter {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        padding: 14rem 20rem;
        background: transparent;
        border: 1rem solid #D9D9D9;
        border-radius: 5rem;
        font-family: Oswald;
        font-weight: 600;
        font-size: 16rem;
        line-height: normal;
        text-align: center;
        text-transform: uppercase;
        color: #040201;
        transition: all .3s ease;
    }

    .btn-filter::after {
        content: '';
        position: relative;
        width: 12rem;
        height: 7rem;
        margin-left: 5rem;
        background: url(../img/icons/arrow-down.svg) center/contain no-repeat;
    }

    .btn-filter:hover {
        background: #D9D9D9;
    }

    .filters {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        padding: 30rem 15rem 20rem;
        gap: 15rem 0;
        background: #fff;
        z-index: 15;
        transition: all .3s ease;
        overflow-y: scroll;
        -ms-overflow-style: none;
		scrollbar-width: none;
    }

    .filters::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    .filters.active {
        left: 0;
    }

    .close-filters {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30rem;
        height: 30rem;
        padding: 0;
        background: #2A547E;
        opacity: 1;
        transition: all .3s ease;
    }
    
    .close-filters svg {
        width: 25rem;
        height: 25rem;
    }
    
    .close-filters svg path {
        fill: #fff;
    }
    
    .close-filters:hover {
        transform: scale(.95);
    }

    .filters-title {
        display: block;
        font-weight: 700;
        font-size: 22rem;
        line-height: normal;
    }

    .filter-element-name {
        padding: 15rem 0;
        font-size: 16rem;
    }

    .filter-category {
        font-size: 16rem;
    }

    .btn-close-filters {
        display: flex;
        width: 100%;
        margin-top: 15rem;
    }

    .ch + label,
    .rd + label {
        padding-left: 25rem;
        font-size: 16rem;
    }

    .ch + label::before,
    .rd + label::before {
        width: 16rem;
        height: 16rem;
    }

    .ch + label::after,
    .rd + label::after {
        width: 16rem;
        height: 16rem;
    }

    .seo-text-block h2 {
        font-size: 20rem;
    }

    .seo-text-block h3 {
        font-size: 18rem;
    }
    
    .seo-text-block h4 {
        font-size: 16rem;
    }
    
    .seo-text-block h5 {
        font-size: 14rem;
    }

    .seo-text-block {
        font-size: 14rem;
    }

    .product-page-block {
        flex-direction: column;
        gap: 20rem;
    }

    .product-page-images-sliders {
        width: 100%;
        order: 1;
    }

    .product-page-images-slide {
        width: 100%;
        height: 350rem;
    }

    .product-page-images-slide img {
        padding: 20rem;
    }
    
    .product-page-images-slide-nav {
        width: 100%;
    }

    .product-page-product-block {
        gap: 10rem 0;
        order: 3;
    }

    .product-page-product-name {
        font-size: 24rem;
    }

    .product-page-product-chars {
        gap: 10rem 0;
        font-size: 14rem;
    }

    .product-page-product-char::before {
        height: 15rem;
    }

    .product-page-product-param {
        padding: 3rem 5rem;
        font-size: 12rem;
    }

    .param-big {
        font-size: 14rem;
    }

    .product-page-product-params-title {
        font-size: 14rem;
    }

    .product-page-product-params-chexboxes .ch + label {
        font-size: 14rem;
    }

    .question {
        width: 16rem;
        height: 16rem;
        font-size: 12rem;
        line-height: 16rem;
    }

    .product-page-price-block {
        width: 100%;
        padding: 10rem;
        order: 2;
    }

    .product-page-info-block {
        padding: 10rem 15rem;
    }

    .product-page-info-block-title {
        font-size: 20rem;
    }

    .table {
        margin: 10rem 0;
    }

    .table th, 
    .table td {
        padding: 10rem;
        font-size: 14rem;
        line-height: 1.3;
    }

    .product-page-info-block-text {
        padding: 10rem 0;
    }

    .product-page-info-block-text-title {
        margin-bottom: 10rem;
        font-size: 20rem;
    }

    .product-page-info-block-text-text {
        font-size: 16rem;
    }

    .section-dop-products {
        padding-bottom: 0;
    }

    .dop-title-wrapper {
        flex-direction: column;
    }

    .dop-title {
        max-width: 100%;
        padding: 0;
        font-size: 22rem;
    }

    .dop-title-wrapper .btn {
        margin-top: 10rem;
    }

    .dop-products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10rem;
    }

    .input-file-btn {
        padding: 7rem 10rem;
        border-radius: 2rem;
        font-size: 14rem;
    }

    .input-file-text {
        width: calc(100% - 140rem);
        font-size: 14rem;
    }
}

@media (max-width: 390px) {
    html {
        font-size: calc(100vw / 390);
    }

    .galery-img {
        height: 220rem;
    }
    
    .galery-img-more-text {
        font-size: 16rem;
    }

    .partner {
        height: 60rem;
    }

    .delivery {
        width: 215rem;
        min-width: 215rem;
    }

    .product-page-images-slide {
        height: 320rem;
    }

    .product-page-images-slide img {
        padding: 10rem;
    }

    .product-page-images-slider-nav {
        margin-top: 10rem;
    }

    .product-page-images-slide-nav,
    .product-page-images-slider-nav .owl-nav button {
        height: 80rem;
    }

    .product-page-images-slide-nav img {
        padding: 6rem;
    }
}
/*end mobile styles*/